{% extends "/views/base.phtml" %}
{% block content %}
<div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
    <div class="max-w-xl mx-auto sm:px-6 lg:px-8">
        <div class="flex pt-8 sm:justify-start sm:pt-0">
            <div class="px-4 text-lg text-gray-600 border-r border-gray-600 tracking-wider">
                {{code}}
            </div>

            <div class="ml-4 text-gray-600 tracking-wider">
                <div class="text-lg uppercase">
                    {{mess}}
                </div>
                {% if message is not empty %}
                <div class="text-sm">
                    <strong>[Dev mode]: </strong>{{message}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
